server:
  port: 8084
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedHeaders: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
#      routes:
#        - id: eclient
#          uri: lb://ECLIENT
#          predicates:
#           - Path=/eclient/**
#          filters:
#            - AuthenticationFilter
#
#        - id: service
#          uri: lb://SERVICE
#          predicates:
#            - Path=/auth/**

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8081/eureka

jwt:
  secret: a180867327e00ba07fd9cb7c64a877ddd5dc4d663df25b290bff522519545069



