server:
  port: 8090
spring:
  application:
    name: ECLIENT
  datasource:
    url: jdbc:postgresql://185.248.17.143:7772/teaproject
    username: postgres
    password: REQ72-3
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8081/eureka
