server:
  port: 8795

spring:
  application:
    name: SERVICE
  datasource:
    url: jdbc:postgresql://localhost:5432/teaproject
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8081/eureka

jwt:
  secret: a180867327e00ba07fd9cb7c64a877ddd5dc4d663df25b290bff522519545069
  expiration: 86400000
  refresh-token:
    expiration: 604800000
